html{
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img{
  object-fit:cover;
  display:block;
  height:240px;
  width:100%;
}

img:hover{
  opacity:0.8;
}

h1, h2, h3, h4, h5, h6{
  text-align:center;
}

footer{
  margin-top:40px;
}

.container-small, .container-large {
    max-width: 100%;
}

.sortButtons{
    margin:20px auto;
    width:235px;
}

.btn {
    margin: 0 5px;
}

.button{
  background-color:#007bff;
  border-radius:8px;
  text-align:center;
  padding:8px 20px;
  width:200px;
  margin:10px;
  display:inline-block;
  color:white;
}

.button:hover{
opacity:0.8;
}

.button p{
  font-size:20px;
  margin:0px;
}

@media (min-width: 768px) {
    .container-small {
        width: 400px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 640px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 920px;
    }
    .container-large {
        width: 1500px;
    } 
}