body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 768px) {
    .container-small {
        width: 400px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 640px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 920px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}

.sortButtons{
    margin:20px auto;
    width:235px;
}

.btn {
    margin: 0 5px;
}
